rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are insecure and for testing only.
    // Any authenticated user can read and write all data.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
