@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* Light Blue */
    --foreground: 210 10% 23%;
    --card: 210 40% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 40% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 90% 54%; /* Soft Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 90%;
    --muted-foreground: 210 5% 55%;
    --accent: 210 90% 45%; /* Deep Blue */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 20% 88%;
    --input: 210 30% 94%;
    --ring: 207 90% 54%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 210 40% 98%;
    --card: 210 10% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 5% 65%;
    --accent: 210 90% 60%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 10% 35%;
    --input: 210 10% 35%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
